[user]
	email = tiagao2001@hotmail.com
    name = tsousa111
    signingkey = ~/.ssh/git/sign_key
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
[init]
    defaultBranch = main
