! catppuccin color scheme
*.background: #24273A
*.foreground: #CAD3F5
*.cursorColor: #F4DBD6
*.color0: #494D64
*.color8: #5B6078
*.color1: #ED8796
*.color9: #ED8796
*.color2: #A6DA95
*.color10: #A6DA95
*.color3: #EED49F
*.color11: #EED49F
*.color4: #8AADF4
*.color12: #8AADF4
*.color5: #F5BDE6
*.color13: #F5BDE6
*.color6: #8BD5CA
*.color14: #8BD5CA
*.color7: #B8C0E0
*.color15: #A5ADCB

! gruvbox dark color scheme
! hard contrast:
! *.background: #1D2021
! soft contrast:
! *.background: #32302F
! deafult contrast:
! *.background: #282828
! *.foreground: #EBDBB2
! *.cursorColor: #EBDBB2
! *.color0:  #282828
! *.color8:  #928374
! *.color1:  #CC241D
! *.color9:  #FB4934
! *.color2:  #98971A
! *.color10: #B8BB26
! *.color3:  #D79921
! *.color11: #FABD2F
! *.color4:  #458588
! *.color12: #83A598
! *.color5:  #B16286
! *.color13: #D3869B
! *.color6:  #689D6A
! *.color14: #8EC07C
! *.color7:  #A89984
! *.color15: #EBDBB2



!! gruvbox light color scheme
!! hard contrast:
!! *.background: #F9F5D7
!! soft contrast:
!! *.background: #F2E5BC
!! default contrast:
!*.background: #FBF1C7
!*.foreground: #3C3836
!*.cursorColor: #3C3836
!*.color0: #F9F5D7
!*.color8: #928374
!*.color1: #CC241D
!*.color9: #9D0006
!*.color2: #98971A
!*.color10: #79740E
!*.color3: #D79921
!*.color11: #B57614
!*.color4: #458588
!*.color12: #076678
!*.color5: #B16286
!*.color13: #8F3F71
!*.color6: #689D6A
!*.color14: #427B58
!*.color7: #7C6F64
!*.color15: #3C3836
