* {
    background:     #24273AFF;
    background-alt: #282839FF;
    foreground:     #CAD3F5FF;
    selected:       #8AADF4FF;
    active:         #A6DA95FF;
    urgent:         #ED8796FF;
}
#8AADF4
#A6DA95
